<div class="modal-header">
  <h4 class="modal-title pull-left">Register a Package</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="receivedFrom">Received from</label>
    <input type="text" class="form-control" id="receivedFrom" [(ngModel)]="receivedFrom" placeholder="Enter Received">
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <textarea type="text" class="form-control" id="Description" [(ngModel)]="description" placeholder="Enter a package title"></textarea>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 border rounded p-2">
        <p class="m-0 border-bottom">Items</p>
        <div *ngFor="let item of items">
          <li><small>{{item.itens.length}}x {{item.name | titlecase}}</small></li>
        </div>
        <button class="btn btn-sm btn-block bg-danger" (click)='addNewItem()'>add new item</button>

      </div>
    </div>
  </div>



</div>
<div class="modal-footer">
  <button (click)='savePackage()' class="btn btn-primary">Submit</button>
</div>


